<% if press_ups_remaining_today > 0 %>
  <%= button_to "+ All #{press_ups_remaining_today}", 
                logs_path(log: { date: date, press_ups_done: press_ups_remaining_today }), 
                method: :post, 
                remote: true, 
                class: "btn btn-primary mt-4",
                data: { turbo: "false" } %>
<% else %>
  <button class="btn btn-primary mt-4" disabled>All done</button>
<% end %>