<div id="press-ups-info">
  <div class="row text-center">
    <div class="col">Target</div>
    <div class="col">Done</div>
    <div class="col">Remaining</div>
  </div>
  <div class="row text-center">
    <div class="col"><%= press_ups_today %></div>
    <div class="col"><%= press_ups_done_today %></div>
    <div class="col"><%= press_ups_remaining_today %></div>
  </div>

  <%= render 'press_ups/progress_bar', press_ups_done_today_percentage: press_ups_done_today_percentage %>
</div>