<div class="progress my-3" role="progressbar" aria-label="Success striped example" aria-valuenow="<%= press_ups_done_today_percentage %>" aria-valuemin="0" aria-valuemax="100" style="height: 3em">
  <div class="progress-bar <%= 'progress-bar-striped' if press_ups_done_today_percentage < 100 %> bg-success" style="width: <%= press_ups_done_today_percentage %>%"><%= press_ups_done_today_percentage.round %>%</div>
</div>