<% if reps_remaining > 0 %>
  <%= button_to "+ All #{reps_remaining}", 
                challenge_logs_path(@challenge, log: { date_of_set: date_of_set, reps_in_set: reps_remaining }), 
                method: :post, 
                remote: true, 
                class: "btn btn-primary mt-4",
                data: { turbo: "false" } %>
<% else %>
  <button class="btn btn-primary mt-4" disabled>All done</button>
<% end %>