<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light mb-2">
  <div class="container-fluid">
    <%= link_to "ðŸ ", root_path, class: "navbar-brand" %>
    <%= link_to "ðŸŽ¯ #{@todays_target}", challenge_path(@primary_challenge), class: "navbar-brand" %>
    <%= link_to "ðŸ’ª #{@challenge_count}", challenges_path, class: "navbar-brand" %>
    <%= link_to "ðŸ‘¤", user_path, class: "navbar-brand" %>
  </div>
</nav>