<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light mb-2">
  <div class="container-fluid">
    <%= link_to "ðŸ ", root_path, class: "navbar-brand" %>
    <%= link_to "ðŸ’ª", challenges_path, class: "navbar-brand" %>
    <%= link_to "ðŸ‘¤", user_path, class: "navbar-brand" %>
  </div>
</nav>