<nav class="navbar navbar-expand-sm fixed-bottom bg-body-tertiary">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to "ðŸ“‹", all_logs_path, class: "navbar-brand" %>
      <%= link_to "âš™ï¸ ", edit_user_registration_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "ðŸ‘¤", user_path, class: "navbar-brand" %>
    <% end %>
  </div>
</nav>